

.container{
    margin: 0 auto;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.title-container{
    margin: 0 auto;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 50%;
    height: 100%;
}

.title{
    margin: auto auto;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.content-container{
    margin: 0 auto;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
}

.left-side{
    width: 49.5%;
    position: relative;
    left: 0;
    justify-content: center;
}

.right-side{
    width: 49.5%;
    right: 0;
    justify-content: center;
}

.middle{
    width: 1%;
}

.form-container{
    position: absolute;
    vertical-align: middle;
    padding: 20px;
    left: 20%;
    top: 4%;
    width: 60%;
    height: 400px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ededed;
}

.input-box{
    width: 50%;
    height: 25px;
    background-color: #c7c7c7;
    border: 1px solid black;
}

.buffer{
    height: 15px;
}

h2{
    font-family: "Lato", sans-serif;
    text-align: center;
    margin-bottom: auto;
}

h3{
    font-family: "Lato", sans-serif;
}

.sub{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.download-container{
    display: flex;
    width: 100%;
    height: 160px;
    justify-content: center;
    border: 1px solid black;
}

.download{
    background-color: bisque;
    width: 80px;
    height: 80px;
    margin-top: 10%;
    border-radius: 5px;
}

.image{
    height: 300px;
    width: 550px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10%;
}
