<header>
    <div class="container">
        <div class="title-container">
            <h1 class="title">Academic Planner Generator</h1>
        </div>
    </div>
    <div class="content-container">
        <div class="left-side">
            <div class="form-container">
                <h2>Semester Info</h2>
                <div class="sub">(For start/end dates, only enter month and year as shown.)</div>
                <form [formGroup]="generatePlanner" (submit)="submitPlanner()">
                    <label for="start">Start Date:</label><br>
                    <input placeholder="06/2024" type="text" id="start" formControlName="start"><br>
                    <div class="buffer"></div>
                    <label for="end">End Date:</label><br>
                    <input placeholder="11/2024" type="text" id="term" formControlName="end"><br>
                    <div class="buffer"></div>
                    <button type="submit" class="primary">Generate Planner</button>
                </form>
            </div>
        </div>
        <div class="center"></div>
        <div class="right-side">
            <img class="image" src="assets/images/planner1.png" alt="img"/>
            <div class="buffer"></div>
            <img class="image" src="assets/images/planner2.png" alt="img"/>
        </div>
    </div>
</header>
