<header>
    <div class="container">
        <div class="title-container">
            <h1 class="title">Academic Planner Generator</h1>
        </div>
    </div>
    <div class="content-container">
        <div class="left-side">
            <div class="form-container">
                <h2>Semester Info</h2>
                <div class="sub">Enter the start and end dates of your semester <br/>and then press generate!
                </div>
                <form [formGroup]="plannerform" (submit)="submitPlanner()">
                    <label for="start">Start Month:</label><br>
                    <input type="month" id="start" formControlName="start"/>
                    <br>
                    <div class="buffer"></div>
                    <label for="end">End Month:</label><br>
                    <input type="month" id="end" formControlName="end"/>
                    <br>
                    <div class="buffer"></div>
                    <div ng-hide="error == null" style="font-size: 15px; font-style: italic; color: red;">{{error}}</div>
                    <div class="buffer"></div>
                    <button [disabled]="!plannerform.valid" type="submit" style="height: 50px; font-weight: bold">Generate Planner</button>
                </form>
            </div>
        </div>
        <div class="center"></div>
        <div class="right-side">
            <img class="image" src="assets/images/planner1.png" alt="img"/>
            <div class="buffer"></div>
            <img class="image" src="assets/images/planner2.png" alt="img"/>
        </div>
    </div>
</header>
