/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 18;
    min-height: 100%;
    background-image: linear-gradient(to bottom, white, white, rgb(230, 230, 230), rgb(195, 195, 195));
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.title-container{
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 50%;
    height: 100%;
}

.title{
    margin: auto auto;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.content-container{
    margin: 0 auto;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
}

.left-side{
    width: 49.5%;
    position: relative;
    left: 0;
    justify-content: center;
    padding-top: 2%;
}

.right-side{
    width: 49.5%;
    right: 0;
    justify-content: center;
}

.center{
    width: 1%;
    margin-top: 0;
}

.text-container{
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    height: 100px;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ededed;
    color: rgb(60, 60, 60);
    font-size: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
