.home-container{
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.home-title-container{
    width: 100%;
    height: 75px;
    justify-content: center;
}

.home-title{
    height: 50px;
    text-align: center;
    font-size: 50px;
    font-family: "Lato" sans-serif;
    margin-top: 20px;
    margin-bottom: 0;
    font-style: underline;
}

.subtitle{
    margin: .5 auto;
    height: 20px;
    text-align: center;
    font-size: 15px;
    font-family: "Lato" sans-serif;
    font-weight: 200;
}

.gallery-container{
    width: 100%;
    height: 550px;
}

.gallery{
    margin: 0 auto;
    width: 75%;
    height: 500px;
    justify-content: center;
}

.buffer{
    height: 30px;
}